* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(132, 84, 176);
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
